<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>@Page.Title</title>
        <link href="~/Content/Site.css" rel="stylesheet" />
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <script src="~/Scripts/modernizr-2.6.2.js"></script>
        @RenderSection("head", required: false)
    </head>
    <body>
        <div id="page" class="group">
            <header>
                <p class="title">Jamal Solomon</p>
                <p>
                    Currently studing Computer Science & Technology at Anhui Normal University in Wuhu, Anhui, P. R. China, I am a aspiring 
                    engineer which a website design and development as a growing hobby. I like writing codes in Java and C#. My desire - where
                    website development is concerned - is to learn and master PHP.
                </p>
                <nav>
                    <ul>
                        @foreach (var contentPage in App.ContentPages) {
                            if (contentPage.Title == Page.Title) {
                                <li><a href="~/ContentPage/@contentPage.Id" title="@contentPage.Header" class="current">@contentPage.Header</a></li>
                            } else {
                                <li><a href="~/ContentPage/@contentPage.Id" title="@contentPage.Header">@contentPage.Header</a></li>
                            }
                        }
                    </ul>
                </nav>
            </header>
            <section>
                @RenderBody()
            </section>
        </div>
    </body>
</html>